<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Oi&display=swap" rel="stylesheet">
</head>
<div class="frontpage1">
<body>
  <div class="title">
    <h1>VIBING</h1>
    <h3>litsing your music with</h3>
  </div>
  <div class="wrap">
    <form action="/index" method= "get">
    <input class="a" type="submit" value="start">
    </form>
    </div>
</div>

</body>
</html>
