<html lang="ja">
<head>
 <meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="/style.css" >
<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oi&display=swap" rel="stylesheet">
</head>
<div class="main">
 <body>
  <nav class="navbar navbar-default">
   <div class="container">
    <div class="navbar-header">
   </div>
   <ul class="nav_navbar-nav_navbar-right">
   <div class="top_page">
   <a href="/"><h1>vibing</h1></a>
   </div>
   <% if !current_user.nil? %>
      <li>Hello<%= current_user.name %>sann</li>
      <li><a href="/signout">logout</a><li>
    <% else %>
    <li>new user？</li>
    <li><a href="/signin">login</a></li>
    <li><a href="/signup">register</a></li>
   <% end %>
   <%= %>
   </ul>
   </div>
  </nav>
  <%= yield %>
</body>
 </div>
</html>
