<div class="main">
 <form action="/signin" method="post">
 <div>
 <div class="cp_iptxt">
	<input class="ef" type="text" placeholder="">
	<label>お名前</label>
	<span class="focus_line"></span>
</div>
 <div class="cp_iptxt">
	<input class="ef" type="password" placeholder="">
	<label>パスワード</label>
	<span class="focus_line"></span>
  </div>
  <div>
  <input type="submit" value="ログイン">
  </div>
 </form>
</div>