<div class="main">
 <form action="/signup" method="post">
  <div>
     <div class="cp_iptxt">
	<input class="ef" name="name" type="text" placeholder="お名前">

	<span class="focus_line"></span>
  </div>
  <div>
    <input name="password" type="password" placeholder="パスワード"><br>
    <input name="password_confirmation" type="password"placeholder="パスワード"><br>
   </div>
   <div>
    <input type="submit" value="登録">
　　</div>
  </div>
 </form>
</div>