*{
	margin:0;
	padding:0;
}

.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 4em;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.ef {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}
.ef ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #da3c41;
}
.ef ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #da3c41;
}
.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
	left: 0;
	width: 100%;
	transition: 0.4s;
}
.ef ~ label {
	position: absolute;
	z-index: -1;
	top: 4px;
	left: 0;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}
.ef:focus ~ label, .cp_iptxt.ef ~ label {
	font-size: 12px;
	top: -16px;
	transition: 0.3s;
	color: #da3c41;
}

body{
	background: #eb3489;
	background-size:cover;
}

.video iframe{
	position: absolute;
	top: 200px;
	left: 200px;
}

.title h1{
	font-family: 'Shadows Into Light', cursive;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 300px;
}

.title h3{
	font-family: 'Shadows Into Light', cursive;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
}
/* index */

.create input[type="submit"]{
	display: inline-block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background:#0C88CA;
	border-bottom:4px solid #005691;
	border-radius: 4px;
	transition: .0s;
	margin: 0 auto;
	top: 500px;
	left: 500px;
	position: relative;
	font-size: 50px;
	font-family: 'Bebas Neue', cursive;
}
.create:hover {
	 cursor: pointer;
	 text-decoration: none;
	 transform: translate3d(0, 4px, 0);
	 transition: .0s;
	 border-bottom: none;

	position: relative;
}





/* layout */

.top_page h1{
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	display: flex;
	font-size: 70px;
	position: absolute;
	left: 200px;
	margin: 20px;
	color: #1b2538;
}


/* ボタン */

.wrap {
	 position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -86px;
  margin-left: -89px;
  text-align: center;
}

.a {
  color: #000;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
  width: 200px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
	transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
}

.a:hover {
  border-color: #FFF;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: transparent;
  outline-offset: 12px;
  text-shadow: 2px 2px 3px #000;
}






















/* .wrap {
	 position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -86px;
  margin-left: -89px;
  text-align: center;
}
.a {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  margin: 20px auto;
  max-width: 180px;
  text-decoration: none;
  border-radius: 4px;
	padding: 20px 30px;
	font-size: 140px;
}
.a {
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
	font-size: 140px;
	width:100px;
	height:50px;
}

.a :hover{
		color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
} */
